/* global stuff */
body{
	background-image: url("../assets/images/grass.jpg"); /* backgound zoom cover index google */
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	}

body, html {
    cursor: url(cursor.gif), pointer;
    padding: 0px;
}

#snowremovalbody{
	background-image: url("../assets/images/grass.jpg"); /* backgound zoom cover index google */
	background-size:cover;
	font-family: "Times New Roman", Times, serif;
	cursor: url(cursor.gif), pointer;
	padding: 0px;
	}

h1, h2, h3 {
	font-weight: bold;
}

p {
	font: "times new roman";
	font-size: 17px;	
	color: black;
}

button {
	width: 100%;
	font-weight: bold;
   /*  cursor: url(../assets/images/world.png), pointer; */
}
#navbutton{
	width: 85%;
}

#page-wrapper{
	width: 100%;
	height: 100%;
	margin: 10px 10px 10px 10px;
	position: fixed;
	overflow: hidden;
	padding: 0px;
}

#global-header{
	height: 200px;
	margin-top: 10px;
	background-color: #0076a3;
	opacity: 0.85;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
}

.logo{
	max-height: 300px;
	max-width: 300px;
	margin-top: 2px;
	margin-left: 15px;
	z-index: +1;
	opacity: 1;
	position: absolute;

}
#freequotes{
	max-height: 580px;
	max-width: 580px;
	margin-top: 0px;
	z-index: +1;
	opacity: 1;
	position: absolute;	
	overflow: hidden;
}

#freequotes {
		overflow: hidden;
		left: -100%;
		top: -10%;
}
.navbar-default {
	margin-top: ;
	background-color: blue;
	background-color: #0076a3;
	border: none;
}

#nav {
	margin-left: 300px;
	margin-top: 145px;
	position: absolute;
	display: inline;
	margin-right: 5px;
	padding-right: 20px;
}

li {
	display: inline;
	word-spacing: 2px;
}

#serviceslist {
	display: block;
	font-size: 15px;
	color: black;
}

#navoptions {
	background-color: #0076a3;
	color: white;
	font-size: 20px;
	opacity: .9;
	position: relative;
	width:;
	}

#earth-elements-h1{
	font-style: arial;
	font-size: 35px;
	color: white;
/*	color: #e3d497;*/
	margin-left: 275px;
	margin-top: 20px;
	text-align: center;
	position: absolute;
	opacity: 1;
	text-shadow: 2px 2px red; 
}

#socialicons {
	z-index: +1;
	margin-left: 300px;
	float: right;
}
#socialiconsphone {
	display: none;

}

#global-footer{
	margin-top: 10px;
	background-color: #0076a3;
	opacity: 0.85;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
	text-align: center;
	height: auto;

}
#servicing {
	background-color: #0076a3;
	color: white;
	font-size: 22px;
	opacity: .9;
	float: center;
	text-shadow: 2px 2px red; 
}

#tree {
	margin-left: 7px;
	margin-right: 7px;
	color: green;
}

#copyright {
	font-size: 16px;
	color: white;

}

/*---------------------------------------------------------*/
/* Index Body Content */
#body-left-background{
	float: left;
	height: auto;
	margin-top: 90px;
	margin-left: 40px;
	background-color: #0076a3;
	opacity: 0.85;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
	size: auto;	
}
	
#body-right-background{
	float: right;
	height: auto;
	margin-top: 5px;
	width: 70%;
	background-color: #e3d497;
	opacity: 0.85;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
	padding: 0px 0px 0px 0px;
	padding-left: 10px;
	
}
#index-contact{
	background-color: #0076a3;
	color: white;
	font-size: 25;
	opacity: 1;
	list-style: none;
}

#index-contact-form {
	list-style: none;
	padding: 0;
	margin:0;
}

#index-content-right{
	opacity: 1;
	text-align: center;
	background-color: #e3d497;
	border-radius: 1% 1% 1% 1%;
	font-style: arial;
	font-weight: bold;
	text-shadow: 1px 1px red; 
	color: green;
	margin-bottom: 15px;
	text-shadow: 1px 1px #0076a3;
}

#landscaping-content-right{
	opacity: 1;
	text-align: center;
	background-color: #e3d497;
	border-radius: 1% 1% 1% 1%;
	font-style: arial;
	font-weight: bold;
	text-shadow: 1px 1px red; 
	color: green;
	margin-bottom: 15px;
	text-shadow: 1px 1px #0076a3;

}

#body-right-background-landscaping{
	float: right;
	height: auto;
	margin-top: 5px;
	width: 70%;
	background-color: #e3d497;
	opacity: 0.85;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
	padding: 0px 0px 0px 0px;
	padding-left: 10px;
	
}

#landscapeContentPhone {
	display: none;
}


#index-service-images {
	border-width: 2px;8
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;
	box-shadow: 3px 3px #0076a3;
	width: 230px;
	max-height: 160px
}

/*---------------------------------------------------------*/
/* Landscaping / Snow Removal: ; Body Content */
#body-left-background-landscaping {
	float: left;
	text-align: center;
	height: auto;
	margin-top: 90px;
	margin-left: 40px;
	background-color: #0076a3;
	opacity: 1;
	border-width: 2px;
	border: solid;
	border-color:  #36456e;
	border-radius: 2% 2% 2% 2%;	
}

.landscapingNav {
	opacity: 1;	
}

#contact-contact-form {
	width: 90%;
	z-index: +1;
	opacity: 1;
	list-style: none;
}

@media only screen and (max-width: 1300px) {
#freequotes{
	display: none;
}
#earth-elements-h1{
	margin-top: 31px;
	text-align: center;
}
}

@media only screen and (max-width: 1279px) and (min-width: 1006px) {
#page-wrapper{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#navoptions {
	background-color: #0076a3;
	color: white;
	font-size: 15px;
	opacity: .9;
}

#index-content-right{
	width: 33%;
	margin-right: 0px;
}
#index-service-images{
	width: 100%;
}

.logo{
	margin-left: 0px;
}		

}
@media  screen and (max-width: 1006px) and (min-width: 800px) {

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.containter {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#body-left-background {
	display: none;
}
#body-right-background{
	width: 100%;
	margin-right: 0px;
	margin-top: 5px;
	margin-left: 10px;
}

.logo{
	height: auto;
	width: auto
	margin-top: 2px;
	margin-left: 200px;
	z-index: 0;
	opacity: 1;
	position: relative;
	text-align: center;
}

#nav {
	position: relative;
	margin-right: 35px;
	text-align: center;
	padding: 0px;	
}

#earth-elements-h1{
	display: none;
}

#global-header{
	height: 100px;
	width: auto;
	margin-top: 10px;
}

#socialicons {
	display: none;
}
#socialiconsphone { 
	display: inline-block;
	position: absolute;

}
#body-right-background-landscaping{
	float: right;
	height: auto;
	margin-top: 5px;
	width: 60%;
	padding-left: 0px;
	margin-left: 0px;
	float: left;
	padding: left: 10px;
}


#body-left-background-landscaping {
	width: 170px;
	padding: 0px;
	float: left;
	text-align: center;
	height: auto;
	margin-top: 5px;
	margin-left: 40px;
	margin-right: 15px;
}



}
@media  screen and (max-width: 800px) and (min-width: 480px) {

#page-wrapper{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.logo{
	height: auto;
	width: auto
	margin-top: 2px;
	margin-left: 150px;
	margin-right: 100px;
	z-index: 0;
	opacity: 1;
	position: relative;
	text-align: center;
}
#global-header{
	height: 100px;
	width: auto;
	z-index: +1;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}



#freequotes {
	display: none;
}
#earth-elements-h1{
	display: none;
}

#body-left-background {
	display: none;
}

li {
	position: relative;
	padding: 0px;
	list-style: none;
	word-spacing: 0px;
}

#nav {
	position: relative;
	margin-left: 40px;
	text-align: center;
	padding: 0px;
	
}

#navoptions {
	font-size: 20px;
	padding: 0px;
}			

#socialicons {
	display: none;
}

#socialiconsphone {
	display: inline-block;
}


.logo{
	max-height: 200px;
	max-width: 200px;
}

#body-right-background{
	width: 85%;
	margin-right: 40px;
	margin-top: 5px;

}
#index-content-right{
	width: auto;
	text-align: center;

}
#index-service-images{
	width: auto;
	height: 50%;
}

.landscapingNav {
	opacity: 1;	
	position: absolute;
}

#landscapeContentPhone{
	display: inline-block;
}

#body-left-background-landscaping {
	display: none;
}

#body-right-background-landscaping{
	float: right;
	height: auto;
	margin-top: 5px;
	width: 95%;
	padding-left: 0px;
	margin-left: 0px;
	float: left;
	padding: left: 10px;
}
#landscaping-content-right{
	display: none;
}

}
@media  screen and (max-width: 673px) and (min-width: 480px) {
	#index-service-images{
	width: 75%;
	height: 50%;
}
#page-wrapper{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

}

@media  screen and (max-width: 480px) and (min-width: 0px) {


#page-wrapper{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.logo{

	height: auto;
	width: auto
	margin-top: 2px;
	margin-left: 25%;
	margin-right: auto;
	z-index: 0;
	opacity: 1;
	display: inline;
	position: relative;
	text-align: center;
}

#global-header{
	height: 100px;
	width: auto;
	margin-top: 10px;
	margin-right: 5px;
}

#freequotes {
	display: none;
}
#earth-elements-h1{
	display: none;
}

#body-left-background {
	display: none;
}

li {
	position: relative;
	display: inline;
	word-spacing: 0px;

}

#nav {
	position: relative;
	margin-left: 10px;
	text-align: center;
}

#navoptions {
	font-size: 15px;
	position: relative;
	padding-right: 0px;
	margin-right: 15px;
}	

#socialicons {
	display: none;
	
}
#socialiconsphone {
	display: inline-block;
}


.logo{
	max-height: 200px;
	max-width: 200px;
}

#body-right-background{
	width: 100%;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;

}
#index-content-right{
	width: 100%;
	padding: 0px;
	text-align: center;


}
#index-service-images{
	max-width: 100%;
	height: 100%;
}

#body-left-background-landscaping {
	display: none;
}
#body-right-background-landscaping{
	float: right;
	height: auto;
	margin-top: 5px;
	width: 95%;
	padding-left: 0px;
	margin-left: 0px;
	float: left;
	padding: left: 10px;
}
#landscapeContentPhone{
	display: inline-block;
}
#landscaping-content-right{
	display: none;
}
#landscaping-content-right{
	display: none;
}


}


